<a href="https://colab.research.google.com/github/maggiejohnson20/DataProcessingAndVisualization/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

By now, I think you know what to do first... Authenticate your account!

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Our next step would be gathering all of the data from the dataset to see what we are working with. This part is optional but I do this to understand what I need to pull for the rest of the quiz. I did a limit of 10 so I don't have a huge chunk of data to stare at.

In [ ]:
%%bigquery --project dataprocessingvisualization

SELECT * 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

Now it's time to actually start on the project.

Below, I will demonstrate on how to display the property type called 'sidewalk' for future references. Also, I put a limit down for only 10. If you don't want that, then just remove it.

In [20]:
%%bigquery --project dataprocessingvisualization

SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'sidewalk'

LIMIT 10

   station_id  ...             modified_date
0        1111  ... 2021-11-04 02:12:00+00:00
1          11  ... 2021-11-04 02:24:00+00:00
2        4699  ... 2021-07-27 08:25:00+00:00
3        2570  ... 2021-01-04 12:00:00+00:00
4        2496  ... 2021-01-04 12:00:00+00:00
5        2497  ... 2021-01-04 12:00:00+00:00
6        3294  ... 2021-01-04 12:00:00+00:00
7        4047  ... 2021-01-04 12:00:00+00:00
8        2503  ... 2021-01-04 12:00:00+00:00
9        2711  ... 2021-01-04 12:00:00+00:00

[10 rows x 14 columns]

Now it's time to actually work on the project. In this quiz, we need to see if the average time is longer on parkland or on sidewalk.

In [19]:
%%bigquery --project dataprocessingvisualization

WITH tbl as(
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
)

SELECT tbl.property_type as Starting_Station_Types, 
    AVG (trips.duration_minutes) as Average_Minutes,
    COUNT(*) as Number_of_Trips,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips
  JOIN tbl
  ON trips.start_station_name = tbl.name

GROUP BY tbl.property_type
ORDER by Average_Minutes

  Starting_Station_Types  Average_Minutes  Number_of_Trips
0   undetermined_parking        23.098028           225333
1                   None        25.697646            68046
2           paid_parking        25.852535           280405
3               sidewalk        29.263569           432392
4                               33.502832            19776
5               parkland        39.375957           141806
6     nonmetered_parking        49.046326            11052